language: julia
os:
  - linux
  - osx
julia:
  - 1.3
  - nightly
notifications:
  email: false
coveralls: true
jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg;
                                    Pkg.develop(PackageSpec(path=pwd()));
                                    Pkg.instantiate();
                                    Pkg.build();'
        - julia --project=docs/ docs/make.jl
      after_success: skip
