language: julia
os:
  - freebsd
julia:
  - 1.3
  - nightly
notifications:
  email: false

branches:
  only:
  - master
  - gh-pages # For building documentation
  - /^testing-.*$/ # testing branches
  - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags
