language: julia
os:
  - linux
  - osx
julia:
  - 1.3
  - nightly
env:
  matrix:
    - JULIA_SPECIALFUNCTIONS_BUILD_SOURCE=true
    - JULIA_SPECIALFUNCTIONS_BUILD_SOURCE=false
notifications:
  email: false
#script: # the default script is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("SpecialFunctions"); Pkg.test("SpecialFunctions"; coverage=true)';
after_success:
  - julia -e 'cd(Pkg.dir("SpecialFunctions")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';


jobs:
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg;
                                    Pkg.develop(PackageSpec(path=pwd()));
                                    Pkg.instantiate();
                                    Pkg.build();'
        - julia --project=docs/ docs/make.jl
      after_success: skip
