language: julia
os:
  - linux
  - osx
addons:
  apt_packages:
    - gfortran
before_install:
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
        brew cask uninstall oclint;
        brew install gcc;
    fi
julia:
  - 0.7
  - nightly
env:
  matrix:
    - JULIA_SPECIALFUNCTIONS_BUILD_SOURCE=true
    - JULIA_SPECIALFUNCTIONS_BUILD_SOURCE=false
notifications:
  email: false
#script: # the default script is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("SpecialFunctions"); Pkg.test("SpecialFunctions"; coverage=true)';
after_success:
  - julia -e 'cd(Pkg.dir("SpecialFunctions")); Pkg.add("Documenter"); include(joinpath("docs", "make.jl"))';
  - julia -e 'cd(Pkg.dir("SpecialFunctions")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())';
