language: julia
os:
  - freebsd
julia:
  - 1.6
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false

env:
  # Disable PkgServer
  - JULIA_PKG_SERVER=""

branches:
  only:
  - master
  - gh-pages # For building documentation
  - /^testing-.*$/ # testing branches
  - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags
