name: JET

on:
  push:
    branches: [master]
    tags: ["*"]
  pull_request:

jobs:
  jet:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'min'
          - 'lts'
          - '1'
          # Latest JET support version
          # https://github.com/aviatesk/JET.jl/blob/master/Project.toml
          - '1.12'  
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - name: Install JET
        shell: julia --project --color=yes {0}
        run: |
          using Pkg
          Pkg.add("JET")
      - name: Run JET
        shell: julia --project --color=yes {0}
        run: |
          using JET, Test
          using SpecialFunctions
          include("test/jet.jl")
